.widgets{
    /* border: red solid 1px; */
    width: 20%;
}

.message_info{
    display: flex;
    padding: 5%;
}

.message_info>h3{
    margin: 7px 0px 0px 0px;
    padding-left: 8px;
}

.sponsors_{
    display: flex;
}

.sponsors_>img{
    height: 20%;
    width: 50%;
    border-radius: 15px;
    padding: 2%;
}

.sponsors_>p{
    margin: 0px;
}

.sponsors_>p>h4{
    margin: 0px;
}
